@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body{
      padding: 0;
      margin: 0;
  }

li {
    display: inline;
    padding: 10px;
  }

  #navbar{
     width: 100%;
      justify-content: space-around;
      display:flex;
      border-bottom: 1px solid #dbdbdb;
      margin: 0;
  }

  #home-btn{
    font-family: 'Marck Script', Arial, Helvetica, sans-serif;
  }

  .icons{
      cursor:wait;
  }
 