

.dados-registo{
    margin: auto;
    width: 20%;
    margin-top: 180px;
    padding: 20px;
    border: 1px solid rgb(206, 206, 206);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 200px;
}

.register{
    height: 35px;
    width: 90%;
    border: 1px solid rgb(206, 206, 206);
    background-color: #0095f6;
    color: #fff;
    font-weight: 900;
    margin: 10px;
}

#login-link{
    color: #0095f6;
    text-decoration: none;
    font-weight: 900;
}

#registo-conta{
    width: 20%;
    margin: auto;
    margin-top: 15px;
    margin-top: 20px;
    border: 1px solid rgb(206, 206, 206);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 200px;
}

.alert{
    background-color: #d49292;
    padding: 10px;
    color:#a03838

}

#must-logout{
    margin: auto;
    text-align: center;
    font-size: 60px;
    margin-top: 200px;
}

#logout-btn{
    margin: auto;
    width:100px ;
    height: 40px;
    margin-top: 200px;
}

#reg{
    text-align: center;
}